{$extend "/master.html" $}


{$define "#content" }


<header>
	<h1>Break The Web Forward</h1>
	<div class="logo"></div>
	<span class="sub-text">01.01.2018 International Day</span>
</header>

<div id="content">
	<p>
		Just like Y2k, where the whole world <strong>rallied together</strong> ahead of a specific date (Jan 1, 2000) to fix date bugs in software all over, it's time we declare a similar impending <strong>"day of doom"</strong> for all <strong>legacy bugs</strong> (things that are there for backwards-compat and have been deprecated by standards) in all the web platform technologies.
	</p>
	<p>
		In other words, I'm proposing we have a day we designate as when we "flip the switch" and have all legacy technical debt in <strong>JS</strong>, <strong>CSS</strong>, and <strong>HTML</strong> completely <strong>wiped clean</strong>. In advance, all browsers will commit to build these fixes in, and have an automatic timer switch which flips them on when the day arrives. After the day passes, all these browsers can update again to remove all the old legacy engine code.
	</p>
	<p>
		I propose <em>Jan 1, 2018</em> as that date.
	</p>
	<p>
		We have almost 3 years to <strong>rally</strong> the entire <strong>community</strong> together to volunteer to help every single web property (both public and private) that's relying on old compat bugs but still wanting to run in modern browsers <strong>fix all those bad bug dependencies</strong>.
	</p>
	<p>
		We don't have to fix everything, only the stuff that we're going to "break forward" on that date.
	</p>
	<p>
		Keep up to date on this crazy idea by following <a href="http://twitter.com/BreakWebForward">@BreakWebForward</a>.
	</p>

</div>

<footer>
	<div class="left-hand"></div>
	<div class="text">Let's Break The Web Forward!</div>
	<div class="right-hand"></div>
</footer>

{$}
