{$extend "/master.html" $}


{$define "#content" }


<header>
	<h1>Break The Web Forward</h1>
	<div class="logo"></div>
	<span class="sub-text">01.01.2018 International Day</span>
</header>

<div id="content">
	<p>
		Before Y2k, the whole software world <strong>rallied together</strong> ahead of a specific date (Jan 1, 2000) to find and fix date bugs.
	</p>
	<p>
		I hereby declare <em>Jan 1, 2018</em> a similar impending <strong>"day of doom"</strong>, or perhaps the first in a series of them, for all <strong>legacy bugs</strong> (backwards-compat, deprecated by standards) in the web platform technologies.
	</p>
	<p>
		On this date, browsers will automatically "flip the switch", turning on fixes for existing legacy technical debt in <strong>JS</strong>, <strong>CSS</strong>, and <strong>HTML</strong>. After the day passes, browsers will remove the old legacy stuff that's no longer needed.
	</p>
	<p>
		Let's <em>break the web forward</em> by intentionally and carefully breaking backwards compat.
	</p>
	<p>
		As a <strong>community</strong>, we have plenty of time to <strong>rally volunteers together</strong> to help fix every single web property, public or private, maintained or not, that wants to move forward on the web. Otherwise, those forgotten parts of the web will be... well, forgotten.
	</p>
	<p>
		Follow the progress of this movement on <a href="http://twitter.com/BreakWebForward">@BreakWebForward</a>.
	</p>

</div>

<footer>
	<div class="left-hand"></div>
	<div class="text">Let's Break The Web Forward!</div>
	<div class="right-hand"></div>
</footer>

{$}
